
<div class="profile_view-img-container">
  <img class = "profile_view-img" src="assets/img/profile-placeholder.png" alt="" >
</div>

<div *ngIf="userProfile">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input [value]="userProfile.email" [readonly]=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input [value]="userProfile.firstName" [readonly]=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input [value]="userProfile.lastName" [readonly]=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Date of Birth</ion-label>
          <ion-input [value]="userProfile.dateOfBirth" [readonly]=""></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
