profile-view {
  .profile_view-img-container{
    background-color:#f0ac69;
    height: 220px;
  }

  .profile_view-img {
    padding-top: 20px;
    height:200px;
    max-height:200px;
    margin-left: 25%;
  }
}
